/* --------------------------------------
    基本樣式與變數
-------------------------------------- */
:root {
  --max-content-width-lg: 1220px;
  --max-content-width-md: 960px;

  /* 主要色系 */
  --primary-color: #b49b50;
  --secondary-color: #c08b6a;
  --primary-color-lighter: #c8af64;
  --primary-color-lightest: #f9efce;
  --secondary-color-darkest: #9c6230;
  --secondary-color-darker: #c57a3a;

  --star-color: #f5c518;
  --discount-color: #c0392b;
  --discount-color-lighter: #ff3f32;

  /* 背景色系 */
  --badge-background: #fff9e6;
  --tags-background: #f0ebe5;

  /* 灰階色系 */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #bababa;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* 卡片參數 */
  --border-radius: 10px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* 選單尺寸 */
  --header-height: 60px;
  --mobile-nav-height: 80px;
}

/* Footer 置底佈局 */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex-shrink: 0;
}

.stretchy-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--mobile-nav-height));
}

main,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.rwd-wrapper {
  margin: 0 auto;
  width: 100%;
}

/* --------------------------------------
    Google Icon 設定
-------------------------------------- */
.material-symbols-outlined {
  font-size: 24px;
}

.gradient-font-icon {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-color-lighter),
    var(--primary-color-lightest)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* --------------------------------------
   搜尋 Bar
-------------------------------------- */
.search-box {
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid var(--primary-color);
  max-width: 320px;
  position: relative;
  top: -5px;
}

.search-box input {
  border: none;
  flex-grow: 1;
  font-size: 0.875rem; /* 14px */
  color: var(--gray-600);
  outline: none;
  padding: 0.5rem 0;
  width: 80%;
}

.search-box input::placeholder {
  color: var(--gray-500);
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
/* --------------------------------------
    首頁
-------------------------------------- */
ul.hot-searches-list {
  display: none;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

ul.hot-searches-list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.banner {
  display: none;
  flex-shrink: 0;
  position: relative;

  width: 100%;
  height: 240px;
}

.banner img.search-bg {
  position: absolute;
  top: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner .search {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.banner .search-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  min-width: 450px;
  overflow: hidden;
  box-shadow: none;
  height: 60px;
}

.banner .gradient-border {
  width: 5px;
  background: linear-gradient(
    to top,
    var(--secondary-color-darker),
    var(--secondary-color-darkest)
  );
}

.banner .search-box input {
  flex: 1;
  padding: 0 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.banner .search-btn {
  background: linear-gradient(
    to right,
    var(--secondary-color-darker),
    var(--secondary-color-darkest)
  );
  border: none;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.banner .search-btn .material-symbols-outlined {
  color: white;
}

/* 文章卡片列表 */

.articles {
  padding: 40px 20px;
}

/* 上方箭頭 */
.article-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.article-list-header .scroll {
  display: flex;
  gap: 8px;
}

.article-list-header .scroll li {
  list-style: none;
}

.article-list-header .scroll .material-symbols-outlined {
  font-size: 28px;
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.2s;
}

.article-list-header .scroll .material-symbols-outlined:hover {
  color: var(--primary-color-lighter);
}

.articles h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.article-list-header .scroll {
  display: flex;
  gap: 8px;
}

.article-list-header .scroll li {
  list-style: none;
}

.article-list-header .scroll .material-symbols-outlined {
  font-size: 28px;
  cursor: pointer;
  color: #b38a39;
  transition: color 0.2s;
}

.article-list-header .scroll .material-symbols-outlined:hover {
  color: #d4af37;
}

/* 文章卡片列表 */
.article-list {
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  padding-bottom: 1rem;
  -webkit-overflow-scrolling: touch; /* iOS 滑動 */
}

/* 隱藏捲軸 */
.article-list::-webkit-scrollbar {
  display: none;
}
.article-list {
  -ms-overflow-style: none; /* IE / Edge */
  scrollbar-width: none; /* Firefox */
}

.article-list.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* 每張卡片 */

.article-card {
  flex: 0 0 auto;
  width: 260px;
  scroll-snap-align: start;

  border-radius: var(--border-radius);
  background: #fff;
  overflow: hidden;
  transition: transform 0.2s;
}

.article-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--box-shadow);
}

/* 卡片圖片 */
.article-card img {
  width: 100%;
  height: 160px;
  border-radius: var(--border-radius);
  object-fit: cover;
  display: block;
}

/* 卡片文字區 */
.article-card .info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.article-card .location {
  font-size: 13px;
  color: var(--gray-500);
}

.article-card h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
  color: var(--gray-800);
}

/* 標籤區 */
.article-card .discount-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.article-card .discount-tags span {
  font-size: 12px;
  padding: 3px 6px;
  color: var(--secondary-color);
  background: var(--tags-background);
}

.article-card .article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.article-card .article-tags span {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 1rem;
  color: var(--secondary-color);
  background: var(--badge-background);
  border: 1px solid var(--secondary-color);
}

/* 評分區 */
.article-card .rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: var(--gray-600);
}

.article-card .rating .stars {
  color: var(--star-color);
  font-size: 14px;
}

.article-card .rating .count {
  font-size: 12px;
  color: var(--gray-500);
}

/* 價格 */

.article-card .join {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.article-card .price {
  font-weight: bold;
  font-size: 1.25rem;
}

.crossed-price {
  text-decoration: line-through;
}

/* 優惠文字 */
.article-card .discount {
  font-size: 1rem;
  font-weight: bold;
  color: var(--discount-color);

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.article-card .discount .badge {
  padding: 3px 6px;
  font-size: 0.875rem;
  font-weight: 400;

  color: white;
  background: linear-gradient(to bottom, var(--discount-color-lighter), var(--discount-color));
}
