/* --------------------------------------
    基本樣式與變數
-------------------------------------- */
:root {
  --max-content-width-lg: 1220px;
  --max-content-width-md: 960px;

  /* 主要色系 */
  --primary-color: #b49b50;
  --secondary-color: #c08b6a;
  --primary-color-lighter: #c8af64;
  --primary-color-lightest: #f9efce;
  --secondary-color-darkest: #9c6230;
  --secondary-color-darker: #c57a3a;

  /* 背景色系 */
  --badge-background: #fff9e6;

  /* 灰階色系 */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #bababa;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* 卡片參數 */
  --border-radius: 10px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* 選單尺寸 */
  --header-height: 60px;
  --mobile-nav-height: 80px;
}

/* Footer 置底佈局 */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex-shrink: 0;
}

.stretchy-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--mobile-nav-height));
}

main,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.rwd-wrapper {
  margin: 0 auto;
  width: 100%;
}

/* --------------------------------------
    Google Icon 設定
-------------------------------------- */
.material-symbols-outlined {
  font-size: 24px;
}

.gradient-font-icon {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-color-lighter),
    var(--primary-color-lightest)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* --------------------------------------
   搜尋 Bar
-------------------------------------- */
.search-box {
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid var(--primary-color);
  max-width: 320px;
  position: relative;
  top: -5px;
}

.search-box input {
  border: none;
  flex-grow: 1;
  font-size: 0.875rem; /* 14px */
  color: var(--gray-600);
  outline: none;
  padding: 0.5rem 0;
  width: 80%;
}

.search-box input::placeholder {
  color: var(--gray-500);
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
/* --------------------------------------
    首頁
-------------------------------------- */
ul.hot-searches-list {
  display: none;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

ul.hot-searches-list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.banner {
  display: none;
  width: 100%;
  position: relative;
  height: 240px;
  margin-bottom: 1rem;
}

.banner img.search-bg {
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
}

.banner .search {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.banner .search-box {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;
  min-width: 450px;
  overflow: hidden;
  box-shadow: none;
  height: 50px;
}

.banner .gradient-border {
  width: 5px;
  background: linear-gradient(
    to top,
    var(--secondary-color-darker),
    var(--secondary-color-darkest)
  );
}

.banner .search-box input {
  flex: 1;
  padding: 0 15px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.banner .search-btn {
  background: linear-gradient(
    to right,
    var(--secondary-color-darker),
    var(--secondary-color-darkest)
  );
  border: none;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.banner .search-btn .material-symbols-outlined {
  color: white;
}

.articles {
}
